.body {
    /* Hide scrollbars */
    overflow: hidden;
    max-width: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar-custom-css {
    /* background-color: white; */
}

.logo {
    height: 100px;
}

.sr-only {
    /* color: steelblue! important; */
}

.navbar-links-custom {
    color: steelblue! important;
}

.carousel-height {
    height: 70vh;
}

.carousel-height img {
    height: 70vh;
}

.carousel-caption h2 {}

.carousel-caption h5 {
    padding-top: 2%;
    padding-bottom: 1%;
    font-weight: 300;
}

/* Hero Code */

/* .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(images/serv-1.jpg);
}

.carousel-item h1 {
    margin: 0;
    color: white;
} */

.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
    /* bottom: initial; */
}

/* Hero Code End */

/* Services Code Start */

.services {
    background-color: #f9f9f9;
}

.service-container {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.service-container h1 {
    font-size: 21px;
    line-height: 1.5;
}

.service-container h3 {
    font-size: 17px;
    line-height: 2;
}

.service-container p, li {
    color: #444444;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
}

.rem-pad {
    padding-left: 0px!important;
    padding-right: 0px! important;
}

.rem-pad .img-fluid {
    width: 100% !important;
    max-height: 90vh;
    height: auto;
}

.service-image img {}

.good-row {}

.info-color {
    background-color: #33b5e5 !important;
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.testimonial-card .card-body {
    text-align: center;
}

.blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

/* About Digityze Section */

.about-co {
    background-image: linear-gradient(to bottom, rgba(7, 15, 54, 0.92), rgba(43, 11, 58, 0.90)), url('images/about-bg.png');
    color: white;
}

.about-container {
    /* width: 80%; */
    /* background-size: cover; */
    /* padding: 20px; */
}

.about-text {
    padding-right: 20% ! important;
    padding-left: 20% !important;
    /* Change this on small devices */
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 200;
    line-height: 1.75;
    color: white;
}

/* Contact Form CSS */

.contact-form-desc {
    line-height: 2;
}

.form-bg-color {
    /* background-color: grey;
    color: white; */
}

.main-contact-div {
    /* background-color: #f9f9f9; */
}

/* Footer CSS */

footer {
    background-color: #151617;
    padding: 70px 0px;
}

footer ul li {
    padding: 5px 0px;
}

.adress span, .contact span, .social span {
    color: #28a745;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}

.adress li p, .contact li a, .social li a {
    color: #FFF;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 15px;
}

.social {
    color: white;
}

.social li {
    float: left;
    padding-right: 25px;
}

.adress, .contact, .social {
    list-style: none;
}

.fa {
    color: #9c9c9c;
    margin-right: 15px;
    font-size: 14px;
}

.copyright-class li {
    color: white;
    font-size: 13px;
    font-weight: 500;
}

/* Media Queries  - CSS for small devices*/

/* start of large tablet styles */

@media screen and (max-width: 991px) {
    .rem-pad .img-fluid {
        width: 100% !important;
        max-height: 60vh;
        height: auto;
    }
    .about-text {
        font-size: 20px;
        padding-right: 15% ! important;
        padding-left: 15% !important;
    }
    .carousel-caption h2 {
        font-size: 29px;
    }
    .carousel-caption h5 {
        padding-top: 2%;
        font-size: 23px;
        font-weight: 300;
    }
}

/* start of medium tablet styles */

/* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */

@media screen and (max-width: 767px) {
    .rem-pad .img-fluid {
        width: 100% !important;
        max-height: 50vh;
        height: auto;
    }
    .about-text {
        font-size: 18px;
        padding-right: 10% ! important;
        padding-left: 10% !important;
    }
    .carousel-caption h2 {
        font-size: 24px;
    }
    .carousel-caption h5 {
        padding-top: 2%;
        font-size: 17px;
        font-weight: 300;
    }
    .good-container h1 {
        font-size: 30px;
    }
    .adress li {
        padding-right: 5%;
    }
}

/* start of phone styles */

/* It's possible to hide the image if the screen becomes too small */

@media screen and (max-width: 479px) {
    .rem-pad .img-fluid {
        width: 100% !important;
        max-height: 50vh;
        height: auto;
    }
    .about-text {
        font-size: 15px;
        padding-right: 10% ! important;
        padding-left: 10% !important;
    }
    .carousel-caption h2 {
        font-size: 18px;
    }
    .carousel-caption h5 {
        font-size: 15px;
        font-weight: 300;
        padding-top: 2%;
    }
    .good-container h1 {
        font-size: 25px;
    }
    .adress li {
        padding-right: 5%;
    }
}